@import url("https://fonts.googleapis.com/css2?family=Baloo+Paaji+2&display=swap");
@import "home.css";

* {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

body {
  background-color: rgb(255, 255, 255);
  color: black;
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: 0;
  z-index: 0;
  padding: 20px;
}
